<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="${LOCALAPPDATA}\VaultITS\Logs\PrimSys.Log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <immediateFlush value="true" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
  </appender>
  <appender name="SecurityRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="${LOCALAPPDATA}\VaultITS\Logs\Security.Log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <immediateFlush value="true" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
  </appender>
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <immediateFlush value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
  </appender>
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <remoteAddress value="127.0.0.2" />
    <remotePort value="9000" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net">
      <locationInfo value="true" />
    </layout>
  </appender>
  <logger Name="SecurityLogger" additivity="true">
    <level value="ALL"/>
    <appender-ref ref="SecurityRollingFileAppender"/>
  </logger>
  <root>
    <level value="ALL" />
    <appender-ref ref="UdpAppender"/>
    <appender-ref ref="RollingFileAppender"/>
    <appender-ref ref="DebugAppender"/>
  </root>
</log4net>
