/*

Original Author: Tomas Lach (www.tomaslach.cz)
Modified by OS Templates (http://www.os-templates.com)

*/

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
header a#logo{display:block; width:100%; font-size:2.2em; font-weight:bold; color:#000; text-transform:uppercase; text-align:center; text-decoration:none;}

/*******************************************************************************************************************
*  INTRO                                                                                                           *
*******************************************************************************************************************/
#intro{margin-bottom:0;}

/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    *
*******************************************************************************************************************/
hr{margin:30px 0;}
.wrap{width:100%; padding:0;}
.high{font-weight:bold; color:#2d7bac;}

/*******************************************************************************************************************
*  DISPLAY NONE                                                                                                    *
*******************************************************************************************************************/